module07-streamlit.zip
module06-playing-games-using-hci.zip
module05-contours.zip
JupyterLab/__temp__.mp4
JupyterLab/video_out_quad.mp4
JupyterLab/video_out.mp4
JupyterLab/video_out.avi
module04-video-processing-and-analysis/race_car_slow_motion.mp4
module04-video-processing-and-analysis/module04-video-processing-and-analysis.zip
module06-playing-games-using-hci/Applications/Output/Output_AR_game.mov
module06-playing-games-using-hci/Applications/Output/Output_Pac_man.mov
module06-playing-games-using-hci/Applications/Output/Output_car_race.mov
module06-playing-games-using-hci/Applications/Output/Output_temple_run.mov
module06-playing-games-using-hci/Applications/Output/Output_Web_Game.mov
module06-playing-games-using-hci/visuals/c0-m6-Output-Web-Game.mov
module17-human-pose-estimation.zip
module09-image-analysis.zip
module08-image-filtering.zip
module10-image-restoration.zip
module12-aruco-markers.zip
module13-introduction-to-deep-learning-with-opencv.zip
module14-face-detection.zip
module15-object-detection-YOLOv5.zip
module15-object-detection.zip
module16-object-tracking.zip
models_6.1/yolov5l.pt
models_6.1/yolov5m.pt
models_6.1/yolov5n.pt
models_6.1/yolov5s.pt
models_7.0/yolov5x.pt
models_7.0/yolov5s.pt
models_7.0/yolov5n.pt
models_7.0/yolov5m.pt
models_7.0/yolov5l.pt
models_6.1/yolov5x.pt
.idea/misc.xml
.idea/MyOpenCVProjects.iml
